* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B1B2B;
}

header {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 32px;
    left: 32px;
    padding: 32px;
    width: 100%;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1376px;
    height: 56px;
    padding: 32px;
}

.text_field {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#base {
    display: flex;
    flex-direction: column;
    width: 752px;
    position: relative;
}

#input {
    display: flex;
    border-radius: 8px;
    width: 100%;
    height: 56px;
    padding: 14px;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background-color: #2d415b;
    outline: none;
    color: #ffffff;
}

#input::placeholder {
    color: #ffffff;
    opacity: 0.5;
}
